#!bin/bash

export GR_PORT=":9999"
export GR_CSRF_AUTH_KEY="8d0e5181ce96016b027ac2a792ade2fe5f22a5811583d85b0c35ef2b0aa498ea"
export GR_SESSION_AUTH_KEY="8d0e5181ce96016b027ac2a792ade2fe5f1fa5811583d85b0c35ef2b0aa498ea"
export GR_DB_USERNAME="local"
export GR_DB_PASSWORD="local"
export GR_DB_HOST="db"
export GR_DB_NAME="MyBlog"
export GR_DB_DRIVER_NAME="postgres"
export GR_DB_DATA_SOURCE="host=db user=local password=toor dbname=MyBlog sslmode=disable"
export GR_GRAPHIQL=false
export GR_GRAPHQL_PLAYGROUND=true
export GR_GRAPHQL_PRETTY=true
