#!bin/bash
export GR_PORT=":9999"
export GR_CSRF_AUTH_KEY="8d0e5181ce96016b027ac2a792ade2fe5f22a5811583d85b0c35ef2b0aa498ea"
export GR_SESSION_AUTH_KEY="8d0e5181ce96016b027ac2a792ade2fe5f1fa5811583d85b0c35ef2b0aa498ea"
export GR_DB_USERNAME="local"
export GR_DB_PASSWORD="toor"
export GR_DB_HOST="localhost"
export GR_DB_NAME="go-react"
export GR_DB_DRIVER_NAME="postgres"
export GR_DB_DATA_SOURCE="host=localhost user=local password=toor dbname=go-react sslmode=disable"
